/* Home Page */

#vacationum-pdf-container .home-page .page-header {
  position: relative;
  background-image: url(../assets/bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
#vacationum-pdf-container .home-page .page-header .logo-wrapper {
  padding: 20px 30px;
}
#vacationum-pdf-container .home-page .page-header .logo-wrapper img {
  width: auto;
  height: 3rem;
}
#vacationum-pdf-container .home-page .page-header .dashed-path {
  position: absolute;
  bottom: -3rem;
  left: 5.7rem;
  width: 32rem;
  height: auto;
}

#vacationum-pdf-container .home-page .hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: flex-start;
  place-items: center;

  height: 21rem;
}
#vacationum-pdf-container .home-page .hero-left {
  padding-top: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}
#vacationum-pdf-container .home-page .hero-left .heading {
  color: #ffffff;

  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;

  max-width: 20rem;
  text-align: center;
}
#vacationum-pdf-container .home-page .hero-left .heading span {
  color: #fff847;
}
#vacationum-pdf-container .home-page .hero-right {
  height: 100%;
}
#vacationum-pdf-container .home-page .hero-right .images-container {
  display: flex;
  align-items: center;
  position: relative;
  top: 2rem;
}
#vacationum-pdf-container .home-page .hero-right .image-wrapper {
  padding-top: 4px;
  padding-bottom: 8px;
  border-radius: 0.3rem;
  background: #efeee7;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
}
#vacationum-pdf-container .home-page .hero-right .image-wrapper img {
  width: 110px;
  height: 135px;
  object-fit: cover;
}
#vacationum-pdf-container .home-page .hero-right .image-wrapper:nth-child(1) {
  transform-origin: right;
  transform: rotate(-33deg) translateY(1.5rem);
  z-index: 2;
}
#vacationum-pdf-container .home-page .hero-right .image-wrapper:nth-child(2) {
  transform: translateY(-1.5rem);
  z-index: 1;
}
#vacationum-pdf-container .home-page .hero-right .image-wrapper:nth-child(3) {
  transform-origin: left;
  transform: rotate(33deg) translateY(1.5rem);
  z-index: 2;
}

#vacationum-pdf-container .home-page .page-body {
  padding: 0 5rem;
}
#vacationum-pdf-container .home-page .page-body .sub-heading {
  margin-top: 2.5rem;
  position: relative;

  display: flex;
  align-items: center;
  gap: 1rem;
}
#vacationum-pdf-container .home-page .page-body .sub-heading h3 {
  color: #363636;

  font-size: 1.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#vacationum-pdf-container .home-page .page-body .sub-heading h3 span {
  color: #e46f44;
}
#vacationum-pdf-container .home-page .page-body .sub-heading .dashed-circle {
  width: 24px;
  height: 24px;
}
#vacationum-pdf-container .home-page .page-body .sub-heading .bottom-dashed-line {
  position: absolute;
  height: 4.5rem;
  width: auto;

  top: 2rem;
  left: 0.55rem;
}

/* Offers Section */
#vacationum-pdf-container .home-page .page-body .offer-section {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
}
#vacationum-pdf-container .home-page .page-body .offer-section .illustration {
  width: 100%;
  height: auto;
}
#vacationum-pdf-container .home-page .page-body .offer-section .offer-chip-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
}
#vacationum-pdf-container .home-page .page-body .offer-section .offer-chip {
  position: relative;

  padding: 0.25rem 0;
  padding-left: 3.5rem;
  border-radius: 0.25rem;
  background: #1296e1;

  width: 16rem;
  color: #fff;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
}
#vacationum-pdf-container .home-page .page-body .offer-section .offer-chip span {
  padding: 15px;

  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 3.6rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: #e46f44;

  display: flex;
  justify-content: center;
  align-items: center;
}
#vacationum-pdf-container .home-page .page-body .offer-section .offer-chip span svg {
  width: 100%;
  height: 100%;
}

/* Contact Section */
#vacationum-pdf-container .home-page .page-body .contact-section {
  margin-top: 0.5rem;

  display: grid;
  gap: 3rem;
  grid-template-columns: 1.3fr 1fr;
  justify-items: end;
}
#vacationum-pdf-container .home-page .page-body .contact-section .illustration {
  width: 100%;
  height: auto;
}
#vacationum-pdf-container .home-page .page-body .contact-section .contact-details {
  padding: 1rem 0;
}
#vacationum-pdf-container .home-page .page-body .contact-section .contact-details > h3 {
  color: #363636;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
}
#vacationum-pdf-container .home-page .page-body .contact-section .contact-details > p {
  color: #363636;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
#vacationum-pdf-container .home-page .page-body .contact-details .contact-chip {
  position: relative;
  margin-bottom: 1.8rem;

  padding: 0.2rem 0;
  padding-left: 3rem;
  border-radius: 0.25rem;
  background: #1296e1;

  color: #fff;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
}
#vacationum-pdf-container .home-page .page-body .contact-details .contact-chip span {
  padding: 14px;

  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: #e46f44;

  display: flex;
  justify-content: center;
  align-items: center;
}
#vacationum-pdf-container .home-page .page-body .contact-details .contact-chip span svg {
  width: 100%;
  height: 100%;
}

#vacationum-pdf-container .home-page .page-footer {
  background: #1a385a;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.4rem 0;

  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
}

#vacationum-pdf-container .home-page .top-right-dots {
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
}
#vacationum-pdf-container .home-page .top-right-dots img {
  width: 5rem;
  height: 5rem;
  opacity: 40%;
}
