/* Service Page */

#vacationum-pdf-container .itinerary-page .page-header {
  background-image: url(../assets/bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center -50px;

  position: relative;
}
#vacationum-pdf-container .itinerary-page .page-header .logo-wrapper {
  padding: 10px 30px;
}
#vacationum-pdf-container .itinerary-page .page-header .logo-wrapper img {
  width: auto;
  height: 3rem;
}

#vacationum-pdf-container .itinerary-page .page-header .path {
  position: absolute;
  bottom: -1.5rem;
  left: 4rem;
  width: 32rem;
  height: auto;
}

#vacationum-pdf-container .itinerary-page .hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: flex-start;
  place-items: center;

  height: 20rem;
}
#vacationum-pdf-container .itinerary-page .hero-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}
#vacationum-pdf-container .itinerary-page .hero-left .heading {
  color: #ffffff;

  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;

  max-width: 16rem;
  text-align: center;
}
#vacationum-pdf-container .itinerary-page .hero-left .heading span {
  color: #fff847;
}
#vacationum-pdf-container .itinerary-page .hero-right img {
  width: 20rem;
  height: auto;
}

#vacationum-pdf-container .itinerary-page .page-body {
  padding: 0 3.2rem;
}

#vacationum-pdf-container .itinerary-page .page-body .itinerary-day-description {
  margin-top: 1.5rem;
  position: relative;
}
#vacationum-pdf-container .itinerary-page .page-body .itinerary-day-description h3 {
  color: #363636;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#vacationum-pdf-container .itinerary-page .page-body .itinerary-day-description h3 .day-number {
  background-color: #e46f44;
  width: 2rem;
  aspect-ratio: 1/1;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;

  z-index: 2;
}
#vacationum-pdf-container .itinerary-page .page-body .itinerary-day-description p {
  margin-top: 0.5rem;

  color: #363636;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
}
#vacationum-pdf-container .itinerary-page .page-body .itinerary-day-description .image-wrapper {
  overflow: hidden;
  margin-top: 1rem;
  height: 6rem;

  max-width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
#vacationum-pdf-container .itinerary-page .page-body .itinerary-day-description .image-wrapper img {
  height: 100%;
  width: auto;
  border-radius: 8px;
  border: 1px solid #909090;
}

#vacationum-pdf-container .itinerary-page .page-footer {
  background: #1a385a;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.4rem 0;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
}

#vacationum-pdf-container .itinerary-page .top-right-dots {
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
}
#vacationum-pdf-container .itinerary-page .top-right-dots img {
  width: 5rem;
  height: 5rem;
  opacity: 40%;
}
