* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  all: unset;
}

.page {
  width: 210mm;
  height: 296.6mm;
  background-color: white;
  position: relative;
  margin: auto;
  overflow: hidden;

  page-break-after: always;
}

@import url(home-page.css);
@import url(service-page.css);
@import url(itinerary-page.css);
@import url(info-page.css);
@import url(testimonial-page.css);
