* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.download-btn {
  all: unset;

  position: fixed;
  top: 1rem;
  right: 1rem;

  cursor: pointer;

  padding: 0.3rem 1rem;
  border-radius: 0.25rem;
  background-color: #1296e1;
  color: white;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.download-btn:hover {
  filter: brightness(1.3);
}
.download-btn:active {
  transform: scale(0.9);
}

#vacationum-pdf-container a {
  color: inherit;
  text-decoration: none;
}
#vacationum-pdf-container svg {
  width: 100%;
  height: 100%;
}
#vacationum-pdf-container table {
  all: unset;
}
#vacationum-pdf-container .page {
  width: 210mm;
  height: 296.8mm;
  background-color: white;
  position: relative;
  margin: auto;
  overflow: hidden;
}

@import url(../styles/home-page.css);
@import url(../styles/service-page.css);
@import url(../styles/itinerary-page.css);
@import url(../styles/info-page.css);
@import url(../styles/testimonial-page.css);
