/* Service Page */

.itinerary-page .page-header {
  background-image: url(../assets/bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center -50px;
}
.itinerary-page .page-header header {
  padding: 10px 30px;
  /* margin-bottom: 2rem; */
}
.itinerary-page .page-header header img {
  width: 15rem;
  height: max-content;
}
.itinerary-page .page-header .path {
  position: absolute;
  top: 0;
  right: 0;
}

.itinerary-page .hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: flex-start;
  place-items: center;

  /* outline: 3px solid red; */

  height: 20rem;
  /* padding: 0 3rem; */
  /* padding-top: 2rem; */
  /* padding-bottom: 8rem; */
}
.itinerary-page .hero-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;

  /* outline: 2px solid rgb(0, 255, 42); */
}
.itinerary-page .hero-left .heading {
  color: #ffffff;
  /* text-align: right; */
  /* font-family: Poppins; */
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;

  max-width: 16rem;
  text-align: center;
}
.itinerary-page .hero-left .heading span {
  color: #fff847;
}
.itinerary-page .hero-right img {
  width: 20rem;
  height: auto;
}

.itinerary-page .page-body {
  padding: 0 3rem 0 5rem;
}
.itinerary-page .page-body .sub-heading {
  margin-top: 1.5rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}
.itinerary-page .page-body .sub-heading h3 {
  color: #363636;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.itinerary-page .page-body .sub-heading h3 span {
  color: #e46f44;
}
.itinerary-page .page-body .sub-heading svg {
  width: 24px;
  height: 24px;
}

.itinerary-page .page-body .itinerary-day-description {
  padding-bottom: 2rem;
  /* padding-left: 3.5rem; */
  position: relative;
}
.itinerary-page .page-body .itinerary-day-description h3 {
  color: #363636;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
}
.itinerary-page .page-body .itinerary-day-description p {
  margin-top: 0.3rem;

  color: #363636;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
}
.itinerary-page .page-body .itinerary-day-description .image-wrapper {
  overflow: hidden;
  margin-top: 1rem;
  height: 6rem;

  max-width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.itinerary-page .page-body .itinerary-day-description .image-wrapper img {
  height: 100%;
  width: auto;
  border-radius: 8px;
}
.itinerary-page .page-body .itinerary-day-description .day-number {
  position: absolute;
  top: -6px;
  left: -3.2rem;
  background-color: #e46f44;
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;

  z-index: 2;
}
.itinerary-page .page-body .itinerary-day-description .dashed-line {
  position: absolute;
  top: 0;
  left: -2rem;
  height: 100%;

  z-index: 1;
}

.page-footer {
  background: #1a385a;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.4rem 0;

  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
}

.page .top-right-dots {
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
}
.page .top-right-dots img {
  width: 5rem;
  height: 5rem;
  opacity: 40%;
}
